@media print {
    tr.vendorListHeadin {
        background-color: #2f78ed  !important;
        -webkit-print-color-adjust: exact !important;
    }
}

@media print {
    .vendorListHeading th {
        color: white !important;
    }
}

body {
    -webkit-print-color-adjust: exact !important;
}
